#include <winres.h>

VS_VERSION_INFO VERSIONINFO
    FILEVERSION        1,0,0,5
    PRODUCTVERSION     1,0,0,5
    FILEFLAGSMASK      0x3FL
    FILEFLAGS          0x0L
    FILEOS             0x40004L
    FILETYPE           0x2L
    FILESUBTYPE        0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Agustin Alvarez"
            VALUE "LegalCopyright",   "Agustin Alvarez (github.com/wolftein). All rights reserved."
            VALUE "FileDescription",  "Aurora - Network (Visual Basic 6.0)"
            VALUE "FileVersion",      "2.0.0.0"
            VALUE "InternalName",     "Aurora.Network"
            VALUE "OriginalFilename", "Aurora.Network.dll"
            VALUE "ProductName",      "Aurora - Network (Visual Basic 6.0)"
            VALUE "ProductVersion",   "1.5.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END